body {
  font-family: Roboto, sans-serif;
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.header {
  background-color: #1f2937;
  display: flex;
  justify-content: space-between;
  padding: 10px 150px;
}

.footer {
  background-color: #1f2937;
  color: #f9faf8;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
  margin-top: auto;
}

.logo {
  color: white;
  font-size: 24px;
  font-weight: bold;
  padding: 8px;
  display: flex;
  align-items: center;
}
a {
  text-decoration: none;
  color: white;
}

li {
  list-style-type: none;
}

.links {
  font-size: 18px;
  color: #e5e7eb;
  display: flex;
  gap: 20px;
  align-items: center;
}

.container {
  background-color: #1f2937;
  display: flex;
  justify-content: space-between;
  padding: 100px 150px;
}

button {
  padding: 8px 16px;
  border-radius: 8px;
}

button.signup {
  background: #3882f6;
  border: 1px;
  color: #f9faf8;
  font-weight: bold;
  width: 120px;
}
.container-title {
  color: #f9faf8;
  font-size: 48px;
  font-weight: bold;
}

.container-text {
  color: #e5e7eb;
}

.first-card {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.second-card {
  background-color: rgb(105, 105, 105);
  color: #f9faf8;
  height: 100px;
  width: 500px;
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-2 {
  display: flex;
  padding: 40px;
  justify-content: center;
}

.container2-title {
  font-size: 36px;
  font-weight: bold;
  color: #1f2937;
  padding: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-info {
  background-color: white;
  height: 150px;
  width: 150px;
  border: 5px;
  border-style: solid;
  border-color: #3882f6;
  border-radius: 20px;
  display: flex;
}
